# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:123456@localhost:3366/nest-ruoyi-prisma"

SERVER_PORT=7071
WS_PORT=7072
WS_PATH=/ws-api
SWAGGER_PATH=swagger-api
# PREFIX=/api/v1

# database configure
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3366
MYSQL_DATABASE=nest-ruoyi-prisma
MYSQL_USERNAME=root
MYSQL_PASSWORD=123456
MYSQL_ROOT_PASSWORD=123456

# redis configure
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=123456
REDIS_DB=0
