# Visual Studio Trace Files
*.e2e

# Click-Once directory
publish/

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Typescript v1 declaration files
typings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OpenCover UI analysis results
OpenCover/
coverage/

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

=======
# Local
.env
dist
.webpack
.serverless/**/*.zip

package-lock.json
yarn.lock

.vscode
